.footer {
  background-color: #232f3e !important;
  color: white;
  padding: 40px 0;
}
.footer .heading {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 8px;
}
.footer ul {
  padding-left: 0;
}

.footer ul li {
  list-style: none;
  padding: 2px 0;
}
.footer ul li a {
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.footer ul li a:hover {
  border-bottom: 1px solid white;
}
@media (max-width: 768px) {
  .footer ul li a {
    font-size: 12px;
  }
  .footer ul {
    text-align: center;
  }
}
