.second-nav {
  background-color: #232f3e !important;
}
.second-nav .nav-link {
  color: white !important;
  padding: 0;
  font-size: 17px;
  font-weight: 600;
}
.second-nav .navbar-nav {
  flex-direction: row;
  align-items: center;
}

/* medium screen */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .second-nav .nav-link {
    padding: 0 8px;
  }
}
/* small and xs */
@media (max-width: 768px) {
  .second-nav .navbar-nav {
    flex-wrap: wrap;
  }
  .second-nav .nav-link {
    padding: 3px;
    font-size: 10px;
  }
  .second-nav .nav-link .css-i4bv87-MuiSvgIcon-root {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .second-nav .my-cart {
    display: inline;
  }
}
/* side nav */
.offcanvas-header {
  background-color: #232f3e;
  position: relative;
}
.offcanvas-header .offcanvas-title {
  font-size: 21px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
}
.offcanvas-header .offcanvas-title span {
  margin-left: 8px;
}
.offcanvas-header .offcanvas-title .close-btn {
  font-size: 33px;
  position: absolute;
  right: 10px;
  font-weight: 700;
  cursor: pointer;
}
.offcanvas-body {
  padding: 8px 0;
}
.offcanvas-body ul {
  padding-left: 0;
}
.offcanvas-body ul li {
  text-decoration: none;
  list-style: none;
  padding: 8px 16px;
}
.offcanvas-body ul li:hover {
  background-color: #e9ecef;
}
.offcanvas-body ul li .parent:hover {
  background-color: transparent;
}
.offcanvas-body ul .my-li:hover {
  background-color: transparent;
}
.offcanvas-body ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #495057;
}
.offcanvas-body ul .parent {
  color: #1c1b1b;
  font-weight: 800;
  font-size: 17px;
}
.offcanvas-body ul li a .flag {
  width: 25px;
}
.offcanvas-body ul li a span {
  margin-left: 8px;
}
