.payment {
}
.payment .nav-payment {
  background-color: #dee2e6;
  padding: 6px 0;
}
.payment .nav-payment h3 {
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
}
.payment .nav-payment h3 a {
  color: black;
}
.payment .nav-payment h3 .items {
  color: blueviolet;
  padding: 0 5px;
}
.payment .content .address-user {
  padding: 16px 0;
  border-bottom: 1px solid #dee2e6;
}
.payment .content .items-user {
  border-bottom: 1px solid #dee2e6;
}
.payment .content .address-user p {
  margin-bottom: 0;
  font-weight: 600;
}
.payment .content .left-sec {
  font-weight: 800;
  font-size: 16px;
}
.payment .content .items-user .left-sec {
  padding: 30px 0 0 16px;
}

.payment .content .payment-method {
  padding-top: 16px;
}
.payment .content .payment-method .order-total {
  font-weight: 600;
  margin-bottom: 16px;
}
.payment .content .payment-method .buy-now {
  color: black;
  background-color: #febd69;
  border: #febd69;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  width: 80%;
  padding: 8px 0;
  font-size: 18px;
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .payment .content .payment-method .buy-now {
    font-size: 15px;
  }
}
