* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none !important;
}
.my-home .swiper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px; /* تعيين الارتفاع الأولي */
}

@media screen and (max-width: 768px) {
  .my-home .swiper .swiper-slide {
    height: 250px; /* تعيين ارتفاع مختلف لأجهزة العرض الصغيرة */
  }
  .my-home .swiper .swiper-button-next:after,
  .my-home .swiper .swiper-button-prev:after {
    font-size: 20px;
  }
}
.my-home .swiper .swiper-button-next:after,
.my-home .swiper .swiper-button-prev:after {
  color: black;
}
